.dropdown {
    text-align: center;
}

h1 {
    text-decoration: underline;
    padding: 20px;
}

body {
    background-color: rgb(255, 255, 255);
}

#odd {
    background-color: white;
    color: black;
}

.container {
    border: 10px #4b2e83;
    width: 560px;
}

#even {
    background-color: lightgray;
    color: black;
}