<head>
    <title>Book List</title>
</head>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<div class="dropdown">
    <h1>Bill Gates Book List By Year</h1>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Booklist By Year
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="http://students.washington.edu/youngs9/booklist/2018/">2018</a>
        <a class="dropdown-item" href="http://students.washington.edu/youngs9/booklist/2019/">2019</a>
        <a class="dropdown-item" href="http://students.washington.edu/youngs9/booklist/2020/">2020</a>
        <a class="dropdown-item" href="http://students.washington.edu/youngs9/booklist/">Home</a>
    </div>




    <script src="index.js"></script>
    <script src="json.json"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <table>

        <body>
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div id='bg'><img></div>
                            <div id='b5'>
                                <a></a>
                            </div>
                        </div>
                        <hr>
                        <ol>
                            <li id="even"></li>
                            <li id="odd"></li>
                            <li id="even"></li>
                            <li id="odd"></li>
                            <li id="even"></li>
                    </div>
                </div>

                <script type="text/javascript" src="script.js"></script>

    </table>
    </div>