.dropdown {
    text-align: center;
    color: darkorchid;
}

h1 {
    text-decoration: underline;
    padding: 20px;
}

body {
    background-color: black;
}

#odd {
    background-color: white;
    color: black;
    text-align: left;
}

#even {
    background-color: rgba(255, 255, 255, 0.062);
    color: black;
    text-align: left;
}

.container {
    background-color: lavender;
    border: 50px #4b2e83;
    width: 560px auto;
}

li img {
    height: 80px;
    padding-right: px;
}