.dropdown {
    text-align: center;
    color: rgb(158, 153, 226);
}

h1 {
    text-decoration: underline;
    padding: 20px;
}

body {
    background-color: black;
}

#odd {
    background-color: white;
    color: black;
    text-align: left;
}

#even {
    background-color: rgba(255, 255, 255, 0.062);
    color: black;
    text-align: left;
}

.container {
    background-color: rgb(126, 126, 180);
    border: 50px #2e5a83;
    width: 560px auto;
}

li img {
    height: 80px;
    padding-right: px;
}